// ***CUSTOMISATIONS TO BOOTSTRAP VARIABLES***

// Change default font family
$font-family-sans-serif: d-din, Arial, sans-serif;

// Remove button focus border
$btn-focus-width: 0;

// Make button text bold by default
$btn-font-weight: 700;

// Adjust formatting of dropdown menu
$dropdown-bg:   rgba(0,0,0,0);
$dropdown-border-color:  #f8f9fa;
$dropdown-color:  #f8f9fa;
$dropdown-link-color: #f8f9fa;
$dropdown-font-size: 120%;
$dropdown-item-padding-x:  1rem;
$dropdown-min-width: 8.9rem;

// ***IMPORT BOOTSTRAP SCSS***
@import "../node_modules/bootstrap/scss/bootstrap";


// ***EXTERNAL CSS***
// Make window and body full-height
html, body {
    height: 100%;
}

.photo-credit {
    font-size: 0.8rem;
}

// Add background image
#mainBG {
    background: url(../img/mainBG.jpg) no-repeat center center/cover;
}