// ***CUSTOMISATIONS TO BOOTSTRAP VARIABLES***

//Spacing
$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 5) //This is added
  ),
  $spacers
);

// Font family and size
$font-family-sans-serif: d-din, Arial, sans-serif;
$font-size-base: 1.1rem;
$btn-font-weight: 700;

//Body background and text default colors
$body-bg:                   black;
$body-color:                #f8f9fa;
$input-bg:                  black;

// Remove button focus border
$btn-focus-width: 0;
$input-btn-focus-width:  0;
$input-focus-border-color: #f8f9fa;

// ***IMPORT BOOTSTRAP SCSS***
@import "../node_modules/bootstrap/scss/bootstrap";



// ***EXTERNAL CSS***
ol {
    padding-left: 1em;
}

.col-lg-4 {
    position: relative;
}

.block-bg {
    background-color: rgba(0,0,0,0.7);
    min-height: 80vh;
}

.tack {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    z-index: 10;
}

.lead {
    font-size: 1.25rem;
    max-width: 27rem;
}

.like {
    position: absolute;
    top: 0.75rem;
    right: 2rem;
    z-index: 10;
}

.content-wrapper {
    min-height: 80vh;
}

.modal-content {
    background-color: black;
}

.navbar {
    background-color: rgba(0,0,0,1);
    position: absolute;
    z-index: 5;
}

.nav-item {
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
}

.navbar-brand {
    font-weight: bold;
    font-style: italic;
    font-size: 250%;
}

.fas.fa-heart {
    display: none;
}

.pic-resp-margins {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#firstCont {
    position: relative;
    height: 100vh;
    // background: url(../img/intro.jpg);
    // background-repeat: no-repeat;
    // background-position: 75% 100%;
    // background-size: auto 100%;
}

#heightAdj {
    height: 3.5rem;
}

#introHead {
    font-size: 4rem;
    margin-top: 1rem;
}

#introImgWrapper {
    position: relative;
    background: url(../img/intro.jpg) no-repeat center center/cover;
    z-index: -10;
    // height: 100vh;
    // width: 84.6vh;
}

#Limbs {
    width: 50%;
    margin-left: 1.5rem;
}


#OriginsPic {
    background: url(../img/origins.jpg) no-repeat center center/cover;
    min-height: 80vh;
    font-size: 130%;
    position: relative;
}

#ExercisePic {
    background: url(../img/yoga-as-exercise.jpg) no-repeat center center/cover;
    min-height: 80vh;
    position: relative;
}

@media only screen and (max-width: 1199.98px) and (min-width: 992px) {
    #introCont {
        max-width: 95%;
    }
}

@media only screen and (min-width: 1200px) {
    #introCont {
        max-width: 85%;
    }
}


@media only screen and (min-width: 992px) {
    .lead {
        font-size: 1.5rem;
        max-width: 30rem;
    }
    
    .navbar {
        background-color: rgba(0,0,0,0);
    }

    #introImgWrapper {
        height: 100vh;
        width: 84.6vh;
    }

    #introHead {
        font-size: 6rem;
    }

    .pic-resp-margins {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}


@media only screen and (max-width: 768px) {
    #Limbs {
        width: 100%;
        font-size: 1.3rem;
        margin-left: 0.25rem;
    }

    #Styles {
        font-size: 1rem;
    }
}